@page "/myvehicles"
@using GTAVehicles.Data
@using GTAVehicles.Models
@using System.Linq;
@inject AuthenticationStateProvider AuthenticationStateProvider
@*
    Using OwningComponentBase ensures that the service and related services
    that share its scope are disposed with the component.
    Otherwise DbContext in ForecastService will live for the life of the
    connection, which may be problematic if clients stay
    connected for a long time.

    We access WeatherForecastService using @Service
*@
@inherits OwningComponentBase<GTAVehiclesService>
<h3>MyVehicles</h3>
<AuthorizeView>
    <!-- Show this section if the user is logged in -->
    <Authorized>
        <RadzenDropDown AllowFiltering="false"
                        @bind-Value="SelectedCharacterId"
                        Placeholder="Select Character..."
                        Data="@characters"
                        TextProperty="UserName"
                        ValueProperty="Id"
                        Change="UpdateCharacter"
                        Style="margin-bottom: 20px; width:250px;" />

        <div class="row">
            <div class="col-md-6">
                <RadzenGrid AllowFiltering="true" AllowPaging="true" PageSize="10" AllowSorting="true" Data="@SelectedCharacter.GtaplayerGarages" TItem="GtaplayerGarages" RowSelect="@(args => SelectedGarage = args)">
                    <Columns>
                        <RadzenGridColumn TItem="GtaplayerGarages" Property="GarageName" Title="Garage Name" />
                    </Columns>
                </RadzenGrid>
            </div>
            <div class="col-md-6">
                <RadzenCard Style="margin-bottom:20px">
                    Character: @SelectedCharacter.UserName
                </RadzenCard>
                <RadzenGrid AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@SelectedGarage.GtaplayerVehicles" TItem="GtaplayerVehicles">
                    <Columns>
                        <RadzenGridColumn TItem="Gtavehicles" Property="VehicleModel" Title="Model Name" />
                        @*<RadzenGridColumn TItem="GtaplayerGarages" Property="Gtapla" Title="Order" />
        <RadzenGridColumn TItem="GtaplayerGarages" Property="UnitPrice" Title="Unit Price">
            <Template Context="detail">
                @String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", detail.UnitPrice)
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="OrderDetail" Property="Quantity" Title="Quantity" />
        <RadzenGridColumn TItem="OrderDetail" Property="Discount" Title="Discount">
            <Template Context="detail">
                @String.Format("{0}%", detail.Discount * 100)
            </Template>
        </RadzenGridColumn>*@
                    </Columns>
                </RadzenGrid>
            </div>
        </div>
    </Authorized>
    <!-- Show this section if the user is not logged in -->
    <NotAuthorized>
        <p>You're not signed in. Please click [Log-In] to continue.</p>
    </NotAuthorized>
</AuthorizeView>
@code {
    // AuthenticationState is available as a CascadingParameter
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    Gtaplayers player;
    List<GtacharactersDTO> characters;
    GtacharactersDTO SelectedCharacter = new GtacharactersDTO();
    string SelectedCharacterId = "";
    List<GtaplayerGarages> garages;
    GtaplayerGarages SelectedGarage = new GtaplayerGarages();

    protected override async Task OnInitializedAsync()
    {
        // Get the current user
        var user = (await authenticationStateTask).User;
        if (user.Identity.Name != null)
        {
            // Get the player object for the current user
            player = await @Service.GetPlayerAsync(user.Identity.Name);

            characters = await @Service.GetCharactersDTOAsync(player);

            //UpdateCharacter();
        }
    }


    void UpdateCharacter()
    {
        if (SelectedCharacterId != "")
        {
            SelectedCharacter = characters.Where(x => x.Id == SelectedCharacterId).FirstOrDefault();
        }
    }
}
